DATABASE_URL=jdbc:postgresql://localhost:5432/rota_estudo
DATABASE_USERNAME=rota
DATABASE_PASSWORD=rota
FRONT_ORIGINS=http://localhost:5173,http://localhost:8081
PORT=8080
OPENAPI_ENABLED=true
JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=50.0
